<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        div.center
            img.headerImage(src="http://localhost:4000/assets/logo.png" alt='All-That-We-Know-logo')
        h2 Lamentamos informarte que tu vacante con título - #{title} - fue eliminada.
        p  Debido al gran número de reportes por parte de los candidatos el equipo de ATKnow  ha decidido eliminar tu vacante. Aún podrás publicar vacantes pero recomendamos que seas más cuidadoso con las próximas que publiques. Evita que tu cuenta sea eliminada.