<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        div.center
            img.headerImage(src="http://localhost:4000/assets/logo.png" alt='All-That-We-Know-logo')
        h2 Lamentamos informarte que tu cuenta ha sido eliminada.
        p  Ya que tus vacantes han sido reportadas demasiadas veces, el equipo de ATKnow ha decidido eliminar tu cuenta.