<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        div.center
            img.headerImage(src="http://localhost:4000/assets/logo.png" alt='All-That-We-Know-logo')
        h2 Tu solicitud para ATKnow Académico - #{idRequest} - ha sido aprobada.
        p Felicidades, ahora eres parte de ATKnow Académico, podrás llegar a más candidatos.
        h3 Gracias por tu interés en ser parte de ATKnow Académico.