<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        div.center
            img.headerImage(src="http://localhost:4000/assets/logo.png" alt='All-That-We-Know-logo')
        h2 Se ha enviado una solicitud para pertenecer a ATKnow Académico.
        p Tu número de petición es #{idRequest}.
        p Siendo parte de ATKnow Académico podrás publicar vacantes de prácticas profesionales y servicio social.
        p Nuestros administradores se contactaran contigo para llevar a cabo el proceso de validación, recuerda que este proceso puede llevar tiempo, recuerde que cada paso de validación le será notificado por medio de un correo electrónico, revise su carpeta de spam de ser necesario.
        h3 Gracias por tu interés en ser parte de ATKnow Académico, te responderemos tan pronto sea posible.
        p Para cualquier aclaración del proceso puede contactar al siguiente correo: nocompanyesimeapp@gmail.com