<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        div.center
            img.headerImage(src="http://localhost:4000/assets/logo.png" alt='All-That-We-Know-logo')
        h2 Ahora eres un miembro premium de ATKnow Jobs.
        p Has adquirido una membresía por #{months} mese(s), recuerda que la suscripción no es auto renovable, por lo que deberás volver a adquirir una membresía terminado tu periodo premium.
        p Estos son los beneficios que obtienes al ser miembro premium de ATKnow Jobs.
        ul
            li Tus vacantes serán mostradas en nuestra sección "Échale un ojo"
            li Tus vacantes aparecerán dentro de nuestras recomendaciones en "Las mejores vacantes"
            li Tus vacantes serán listadas primero en las búsquedas
            li Tus vacantes creadas mientras seas premium se quedarán como premium
            li Tendrás preferencia al momento de revisar los reportes que puedan ser hecho a tu vacante
        h3 Gracias por volverte premium, te esperamos en ATKnow Jobs