<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        div.center
            img.headerImage(src="http://localhost:4000/assets/logo.png" alt='All-That-We-Know-logo')
        h2 Tu solicitud para ATKnow Académico - #{idRequest} - ha sido rechazada.
        p Lo lamentamos, pero no has pasado el proceso de validación. Puedes solicitar más información contactando con nocompanyesimeapp@gmail.com
        h3 Gracias por tu interés en ser parte de ATKnow Académico, te deseamos éxito en tu próxima solicitud.