<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        div.center
            img.headerImage(src="http://localhost:4000/assets/logo.png" alt="All-That-We-Know-logo")
        h2 Restablece tu contraseña.
        p Has click en el siguiente enlace para restablecer tu contraseña
        a(href=`${resetUrl}`) Restablecer contraseña
        p Si no puedes acceder a este enlace, visita  #{resetUrl}
        p El link para reestablecer tu contraseña sólo es válido por 4 horas, caso de que caduque vuelve a solicitar el cambio
        p En caso de no haber solicitado este cambio ignore el mensaje.