html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #100E17;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
}
/** Globales **/
h1, h2, h3  {
  color: #ffffff;
  margin: 0;
}
h1 {
  font-weight: 900;
  font-size: 6rem;
}
h2 {
  font-weight: 700;
  font-size: 4rem;
}
h3 {
  font-size: 2.8rem;
}